.bestTime_container{
    background: #FB432C;
    font-family: "Inter", sans-serif;
    color:white;
    text-align: center;
    padding: 5% 8%;
}
.bestTime_container > p{
    font-size: 14px;
}
.bestTime_header{
    font-size: 3rem;
    font-weight: 600;
}
.feedback_div{
    background-color: #111111;
    padding: 0px 40px 80px 40px;
    border-radius: 10px;
    margin-top: 50px;
}
.feedback_content_container{
    background-color: rgb(34, 34, 34);
    border-radius: 0px 0px 10px 10px;
    padding: 30px;
}
.feedback_content_1{
    display: flex;
    justify-content: space-between; 
    align-items: center;
}
.feedback_sub_content1{
    display: flex;
    align-items: center;
    text-align: start;
    color: #737373;
}
.feedback_sub_img_content > h4{
    font-weight: 400;
    color: white;
    padding-bottom: 3px;
}
.feedback_sub_img_content > p{
    font-size: 14px;
}
.feedback_sub_content1 > div > img{
    width: 70%;
}
.feedback_content_2{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.feedback_sub_content2{
    display: flex;
    align-items: center;
    margin-top: 50px;
}
.feedback_sub_content2 > div > img{
    width: 70%;
}
.feedback_sub_content2 > div > p{
    font-size: 14px;
    font-weight: 300;
    max-width: 90%;
    text-align: start;
}
.feedback_sub_containers{
    color: white;
    margin-top: 5px;
    display: flex; 
    flex-wrap: wrap;
}
.feedback_sub_containers > div{
    text-align: start;
    padding: 30px;
    border-radius: 10px;
    background: #000;
    margin-left: 5px;

    max-width: 345px;
    font-family: "Inter", sans-serif;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.feedback_sub_containers > div > h4{
    font-weight: 500;
}
.feedback_sub_containers > div > p{
    font-size: 14px;
    max-width: 75%;
    color: #737373;
}
.feedback_sub_containers > div > img{
    width: 8%;
}