main{
    text-align: center;
    font-family: "Inter", sans-serif;
}
main h1{
    font-size: 3.5rem;
    max-width: 75%;
    margin: 0 auto;
    padding-top: 5%;
}
.hero_desc{
    color: #5F5F5F;
    margin: 25px 0px;
    font-size: 13px;
}
.get_in_touch{
    color: #A3A3A3;
    font-size: 12px;
}
.get_in_touch > span{
    color: black;
    font-weight: 600;
}
.hero_container{
    position: relative;
}
.hero_img{
    width: 100%;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.marquree > img{
    width: 100px;
    object-fit: contain;
    aspect-ratio: 1;
    padding: 0px 10%;
    white-space: nowrap;
}
.marquree{
    margin-top: 25%;
    display: flex;
}