.share_container{
    display: flex;
    gap: 10px;
    font-family: "Inter", sans-serif;
    justify-content: space-between;
}
.share_1{
    width: 50%;
    display: flex;
    flex-direction: column; 
    align-items: start;
    gap: 15px;
}
.share_header{
    font-size: 3rem;
    font-weight: 600;
}
.share_2 > div > img{
    width: 100%;
}
.share_2 > div{
    background: #FAFAFA;
    border-radius: 10px;
}
.share_1 > p{
    font-size: 14px;
    color: #5F6980;
    line-height: 1.6rem;
}
.share_1_img_container{
    display:flex;
    gap: 20px;
}
.share_1_img_container > div > p{
    font-weight: 300;
    font-size: 0.9rem;
}
.share_1_img_container > div{
    display:flex;
    align-items: center;
    gap: 5px;
}
.share_2_img_container{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    font-weight: 600;
}
.share_2_img_container > p{
    font-size: 0.8rem;
    
}
.share_2_img_container > img{
    object-fit: cover;
    width: 12%;
}
