@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

section{
    margin-top: 130px;
}
li{
    user-select: none;
    cursor: pointer;
}
@media screen and (max-width: 500px) {
    section{
        margin-top: 100px;
    }
}
.scroll-watcher{
    height: 10px;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #FE424D;
    width: 100%;
    border-radius: 10px;
    scale: 0 1;
    transform-origin: left;
    animation: scroll-watcher linear;
    animation-timeline: scroll();
}
.image-animation{
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: 100px;
    animation-range-end: 700px;
}
@keyframes scroll-watcher {
    to { 
        scale: 1 1;
    }
}
@keyframes fade-in{
    from{
        scale: .8;
        opacity: 0;
    }
    to{
        scale: 1;
        opacity: 1;
    }
}